<ul class="feedlist">
<% @posts.each do |post| %>
 <li>
	<div class="feedpostcontainer">
	   <h4><a class="feedtitle" href="/posts/<%= post.id %>"><%= post.title %></a></h4>
	   <p class="feedtimestamp">Created: <%= post.created_at %></p>
	   <p>Created by: <%= post.user_id %></p>
	   <p><%= post.content %></p>
	   
	</div>
 </li>
<% end %>
</ul>
