<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
	</head>
	<body>
		<!-- check if the user is logged in, if not, display the message below else -->
		<% if session[:user_id] != nil %>
			<div class="profile_container">
				<p>Hello <%= @currentUser.profile.name %>, how's your day going?</p>
				<p>Here is your current account information:</p>
				<p>Username: <%= @currentUser.username %></p>
				<p>User ID: <%= @currentUser.id %></p>
				<p>Email: <%= @currentUser.email %></p>
				<p>First Name: <%= @currentUser.profile.name %></p>
				<p>Age: <%= @currentUser.profile.age %></p>
				<p>Last Name: <%= @currentUser.profile.lname %></p>
				<p>City: <%= @currentUser.profile.city %></p>
				<p>auto increment id from profile: <%= @currentUser.profile.id %></p>
				<p>user_id in profile: <%= @currentUser.profile.user_id %></p>
				<p>Users who follow you:</p>
				<% @currentUser.followers.each do |print| %>
				<p><%= print.username %></p>
				<% end %>
				<p>Users you follow</p>
				<!-- iterate through each user -->
				<% @allUsers.each do |i| %>
					<!-- if the user exists in the other user's followers, print their username to the page -->
					<% if i.followers.exists?(:id => @currentUser.id) %>
						<p><%= i.username %></p>
					<% end %>
				<% end %>
			</div>
		<% else %>
			<p><%="No profile has been created for this user" %></p>
		<% end %>
		<br>

		<p class="edit_profile">Edit Profile: (blank fields will not be updated)</p>
		<div class="edit_profile_container">
			<form method="POST" action="/updateProfile">
				<label for="name">First Name:</label>
				<input type="text" name="name"><br>
				<label for="age">Age:</label>
				<input type="number" name="age"><br>
				<label for="lname">Last Name:</label>
				<input type="text" name="lname"><br>
				<label for="city">City</label>
				<input type="text" name="city"><br>
				<input class="edit_profile_button" type="submit">
			</form>
		</div>
		
		<h2><!-- <a href="#"> --><button input type="button" onClick="ConfirmDelete()" id="fake_delete">Delete Your Account?</button><!-- </a> --></h2>
		<h2><a href="/account_delete"><button class="real_delete_button" input type="button">Delete Your Account!></button></a></h2>
	</body>
</html>
