
<p><%= @viewProfileInfo.username %></p>
<p><%= @viewProfileInfo.email %></p>
<p><%= @viewProfileInfo.birthday %></p>
<p><%= @viewProfileInfo.profile.name + @viewProfileInfo.profile.lname %></p>
<p><%= @viewProfileInfo.profile.city %></p>
<p><%= @viewProfileInfo.profile.age %></p>


<ul class="feedlist">
<% @viewProfilePosts.each do |post| %>
 <li>
 	<div class="feedpostcontainer">
	   <h4><a class="feedtitle" href="/<%= post.id %>"><%= post.title %></a></h4>
	   <p class="feedtimestamp">Created: <%= post.created_at %></p>
	   <p class="feedauthor">Created by: <%= post.user_id %></p>
	   <p class="feedcontent"><%= post.content %></p>
	  
	</div>
 </li>
<% end %>
</ul>

